<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CodeEngne.Loader.Properties.Settings.AppDBConnectionString"
            connectionString="Data Source=|DataDirectory|\AppDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>