<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CodeEngne.Loader.Properties.Settings.AppDBConnectionString"
            connectionString="Data Source=|DataDirectory|\AppDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <appSettings>
        <add key="SHEETS" value="B-ส่วนผสมสินค้า,F-เมนูแนะนำ,H-Price&amp;Promotion,C-เกี่ยวกับ Mk,E-สมาชิก MK,G- Map,G 1Map(สอบถามอื่นๆ),G 2Map(ศูนย์การค้า),G 3Map(ทีพัก),J 1คำศัพท์(Hygiene),J 2คำศัพท์(อุปกรณ์ทาน),J 3คำศัพท์(เครื่องเคียง),J 4คำศัพท์(Drink),J 5คำศัพท์(Other),D1 ข้อเสนอแนะ(สินค้า),D2ข้อเสนอนะ(ราคา),D3ข้อเสนอแนะ(บริการ),D4ข้อเสนอแนะ(สภาพ้ราน),I 5Conver(ใช้บ่อย),K- มาตรฐานสนทนาMK,K 1มาตรฐานสนทนา(Well Com),K 2มาตรฐานสนทนา(แนะนำ),K 3มาตรฐานสนทนา(เสิร์ฟ),K 4 บริการบนโต๊ะ,K 5 แนะนำอาหาร,labels"/>
        <add key="EXCEL_PATH" value="C:\mklanguage.xls"/>
    </appSettings>
</configuration>